<div class="container d-flex justify-content-center">
  <div class="w-100">
    <h2 class="text-center mb-3">レシピ一覧</h2>
    <div class="w-75 d-flex justify-content-end text-end mb-3 gap-2 mx-auto">
      <div class="d-inline-block">
        <%= link_to "新しいレシピを登録", :new_users_recipe, class: "btn btn-first text-bg-primary" %>
      </div>
      <div class="d-inline-block">
        <%= link_to "マイページ", mypage_users_recipes_path, class: "btn btn-first text-bg-primary" %>
      </div>
    </div>
    <div>
      <%= render 'search_form' %>
    </div>
    <div class="w-auto">
      <table class="w-100 table">
        <thead>
          <tr>
            <th class="text-center">登録日</th>
            <th class="text-center">カテゴリ</th>
            <th class="text-center">レシピ</th>
            <th class="text-center"></th>
            <th class="text-center">お気に入り</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td class="text-center"><%= recipe.created_at.strftime("%Y-%m") %></td>
              <td class="text-center"><%= recipe.recipe_category.name %></td>
              <td class="text-center"><%= recipe.title %></td>
              <td class="text-center"><%= link_to "詳細", users_recipe_path(recipe), class: "btn btn-first text-bg-primary" %></td>
              <td class="text-center">
                <% if @favorite_recipe_ids.include?(recipe.id) %>
                  <%= button_to "お気に入り解除", users_recipe_favorite_path(recipe), method: :delete, class: "btn btn-warning btn-sm" %>
                <% else %>
                  <%= button_to "お気に入り登録", users_recipe_favorite_path(recipe), method: :post, class: "btn btn-outline-primary btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <tbody>
      </table>
    </div>
    <nav aria-label="Pagination">
      <ul class="pagination justify-content-center">
        <%= paginate @recipes, window: 2, outer_window: 0, left: 0, right: 0 %>
      </ul>
    </nav>
    <div class="w-75 justify-content-end text-end mx-auto">
      <%= link_to "ユーザートップ", users_path, class: "btn btn-first text-bg-primary px-3" %>
    </div>
  </div>
</div>
