<div class="container d-flex justify-content-center">
  <div class="w-100">
    <h2 class="text-center mb-3">新しいレシピ登録</h2>
    <div class="w-50 justify-content-center align-items-center mx-auto border-primary">
      <%= form_with model: @form, scope: :users_recipe_form, url: users_recipes_path, method: :post, local: true, data: { turbo: false } do |form| %>
        <div class="justify-content-center align-items-center my-2 py-2">
          <%= form.label :title, "レシピ名:" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <% if @form.errors[:title].any? %>
          <span class="error"><%= @form.errors[:title].first %></span>
        <% end %>
        <div class="justify-content-center align-items-center my-2 py-2">
          <div>
            <%= form.label :description, "説明:"%>
          </div>
          <div>
            <%= form.text_area :description, class: "form-control", rows: 5 %>
          </div>
        </div>
        <div class="d-flex my-2 py-2">
          <div class="d-flex align-items-center me-4">
            <%= form.label :cooking_time, "調理時間:", class: "me-2" %>
            <%= form.text_field :cooking_time, class: "form-control w-auto me-2" %>分
          </div>
          <div class="d-flex align-items-center">
            <%= form.label :total_time, "合計時間:", class: "me-2" %>
            <%= form.text_field :total_time, class: "form-control w-auto me-2" %>分
          </div>
        </div>
        <div class="justify-content-center align-items-center my-2 py-2">
          <%= form.label :difficulty, "難易度:" %>
          <%= form.select :difficulty, [["easy", "easy"], ["medium", "medium"], ["hard", "hard"]], { prompt: "選択してください" }, class: "form-control" %>
          <% if @form.errors[:difficulty].any? %>
            <span class="error"><%= @form.errors[:difficulty].first %></span>
          <% end %>
        </div>
        <div class="justify-content-center align-items-center my-2 py-2">
          <label>作り方（手順ごとに追加してください）:</label>
          <div id="instructions-container">
            <div class="instruction_field mb-2">
              <label>手順 1:</label>
              <input type="text" name="users_recipe_form[instructions][]" class="form-control">
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary mt-2" id="add-step-button">＋ 手順追加</button>
        </div>
        <div class="justify-content-center align-items-center my-2 py-2">
          <%= form.label :ingredient_ids, "材料を選ぶ" %>
          <%= form.collection_select(:ingredient_ids, Ingredient.all, :id, :name, {}, { multiple: true, size: 5, class: "custom-multi-select" }) %>
        </div>
        <% if @form.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% @form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="w-75 justify-content-end text-end mx-auto">
          <%= form.button "登録", class: "btn btn-first text-bg-primary px-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
